.notes{
	margin-top: 20px;
}

.ui.items > .item > .meta{
	width: 88px;
	margin-top: 3px;
	padding-left: 5px;
}

.ui.items > .item .extra{
	margin-bottom: 10px;	
	margin-top: 10px;	
}

.ui.form textarea{
	resize:none;
}

i.icon{
	cursor: pointer;
}

.ui.items>.item>.content>.header:hover{
	cursor: pointer;
	text-decoration: underline;
}

.ui.small.header{
	display: block;
	width: 250px;
	margin: auto;
	margin-top:80px;
}